/*
    Author: Sibusiso Radebe;
    Theme: Food Ordering

*/
*{
   font-family: Arial, Helvetica, sans-serif;
    margin: 0 0;
    padding: 0 0;
}
.container{
    border: 3px solid red;
    width: 80%;
    margin: 0 auto;
    padding: 1%;
}
.text-right{
    text-align: right;
}

.text-center{
    text-align: center;
}

.clearing{
    clear: both;
    float: none;
}

/*
    CSS FOR NAVBAR
*/
.logo{
    color: red;
    border:  solid black;
    width: 14%;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 1px;
    float: left;
}
a{
    color: red;
    text-decoration: none;
}

a:hover{
    color: black;
}

.Menu{
    line-height: 50px;
}

.Menu ul{
    list-style-type: none;
}

.Menu ul li{
    display: inline;
    padding: 1%;
    font-weight: bold;
}

/*.Menu ul li a{
    color: black;
    text-decoration: none;
}*/

/*
    CSS for food Search

*/

.food-search{
    background-image: url(../images/burger.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 7% 0;
}

.food-search input[type="search"]{
    width: 50%;
    padding: 1%;
    font-size: 1rem;

}
